{% extends 'layout.html' %}
{% block content %}
<body style="background-color:rgb(248, 214, 226)">
<h1><font style="color: rgb(233, 124, 216); font-size: 50px;">Welcome to Book Database website</font></h1>
<h5>we design the databe with Data Modeling Using the Entity-Relationship (ER) Model </h5>
<h5>and using Relational Database Design by ER-to-Relational Mapping</h5>
<br/>
<h4>we have many information on book</h4 >
<h2><a href="/database" title="Go to Books table"> Books</a> </h2>
<h2><a href="/database" title="Go to Authors table"> Authors</a></h2>
<h2><a href="/database" title="Go to Publishers table"> Publishers</a> </h2>

</body>

{% endblock %}
