{% extends 'layout.html' %}
{% block content %}

<body>
<div class="container">
  <h1><center>Insert Database</center></h1>
  <br/>
    <h1>
    <form method="post" >
      {% csrf_token %}
      {{ choice }}
      <input class="btn btn-info" type="submit" value="select" name="table">
    </form>
    </h1>
</div>
<H4>
{% if count == 1 %}
<form method="post" >
    {% csrf_token %}
    {% for column in columns %}
        <div class="form-group">
            <label for="">{{ column }}</label>
            <input type="text" class="form-control" name= {{ column }} value="">
        </div>
    {% endfor %}
    <input class="btn btn-info" type="submit" value="submit" name="insert" >
</form>
{% endif %}
</H4>
</body>


{% if messages %}
{% for message in messages %}
<style>
.alert {
padding: 20px;
background-color: #2196F3;
color: white;
}

.closebtn {
margin-left: 15px;
color: white;
font-weight: bold;
float: right;
font-size: 22px;
line-height: 20px;
cursor: pointer;
transition: 0.3s;
}

.closebtn:hover {
color: black;
}
</style>
<div class="alert info">
    <center><strong>{{ message }}</strong>&nbsp;your can see new value in database</center>
</div>
{% endfor %}
{% endif %}


<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}
